<div id="sidebar">
    <div>
    <input type="radio" name="album" id="album_1">
    <label for="album_1"><h4><span>Rosalind Franklin Meets Her Pepper's Ghost</span></h4></label>
    <ul><h5>
      <li><a>Song</a></li>
      <li><a>Song</a></li>
      <li><a>Song</a></li>
      <li><a>Song</a></li>
      <li><a>Song</a></li>
    </h5></ul>
  </div>
  <div>
    <input type="radio" name="album" id="album_2">
    <label for="album_2"><h4><span>Yearling's Bobtail I</span></h4></label>
    <ul><h5>
      <li><a>Song</a></li>
      <li><a>Song</a></li>
      <li><a>Song</a></li>
      <li><a>Song</a></li>
      <li><a>Song</a></li>
    </h5></ul>
  </div>
  <div>
    <input type="radio" name="album" id="album_3">
    <label for="album_3"><h4><span>Yearling's Bobtail II<span></h4></label>
    <ul><h5>
      <li><a>Song</a></li>
      <li><a>Song</a></li>
      <li><a>Song</a></li>
      <li><a>Song</a></li>
      <li><a>Song</a></li>
    </h5></ul>
  </div>

</div>

<div id="main_content">
  Main content.
</div>
