<div id="single_content">
  <div id="admin_content">
    <% if current_admin.super_admin %>
      <%= link_to "Create a new admin", new_admin_path %>
    <% end %>
    <table>
      <thead>
        <th colspan="3"><h1>List of admins</h1></th>
      </thead>
      <% @admins.each do |admin| %>
      <tr>
        <td><%= admin.name %></td>
        <td>
          <% if admin.super_admin %>
            super admin
          <% else %>
            bandmate
          <% end %>
        </td>
        <% if admin == current_admin ||
          current_admin.super_admin %>
          <td ><%= link_to "update", edit_admin_path(admin) %> |
            <%= link_to "delete", admin_path(admin), method: :delete,
            data: { confirm: "Are you sure?" } %></td>
        <% end %>
      </tr>
      <% end %>
    </table>
  </div>
</div>
