<%= link_to "Create a new admin", new_admin_path %>

<table>
  <thead>
    <th colspan="3"><h1>List of admins</h1></th>
  </thead>
  <% @admins.each do |admin| %>
  <tr>
    <td><%= admin.name %></td>
    <td><%= link_to "update", edit_admin_path(admin) if admin == current_admin %></td>
    <td><%= link_to "delete", admin_path(admin), method: :delete, data: { confirm: "Are you sure?" } %></td>
  </tr>
  <% end %>
</table>
