<%= render "sidebar" %>

<div id="main_content">
  <h1>Meet the band!</h1>

  <div id="bandmate_description">
    Here's where a picture would be, as well as a blurb if we were still
    actually a band. Whatever happened to the likely lads?
  </div>

</div>
